.guides a {
  text-decoration: none !important;
}

.box {
  flex: 1;
  border: 1px solid #0002;
  /*box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.24);*/
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.box:hover {
  border-color: rgb(4, 76, 246);
}

.box > a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.box > .title {
  font-weight: 500;
}

.box > .description {
  flex: 1;
  margin: 0.5em 0;
  font-size: 0.9em;
}

.guides {
  display: flex;
  gap: 30px;
  /*justify-content: center;*/
  /*overflow: scroll;*/
  margin: 20px 0;
}

.guides > .box {
  min-width: 200px;
  max-width: 250px;
}
