@use "../../../../src/css/mixins" as m;

.box {
  display: flex; // Move display: flex before the mixin
  max-width: 320px;
  min-width: 320px;
  flex-direction: column;
  margin-bottom: 15px;

  @include m.clickable-box(); // Include the mixin after declarations
}

.guidedesc {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product {
  display: flex; // Move display: flex before the mixin
  max-width: 200px;
  flex-direction: column;

  @include m.clickable-box(); // Include the mixin after declarations
}

.box > .title {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.platformicon {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  overflow: hidden;
  flex-shrink: 0;
}
