# Build outputs
website/.docusaurus
website/build
specs/tsp-output

# Dependencies
node_modules
website/node_modules
specs/node_modules
tools/node_modules

# Temporary files
.git
.env
*.log
package-lock.json

# IDE and OS files
.vscode
.idea
.DS_Store