TYPESENSE_COLLECTION_NAME=<TYPESENSE-COLLECTION-NAME>
TYPESENSE_HOST=<TYPESENSE-HOST>
TYPESENSE_EXPORTS=<TYPESENSE-PORT>
TYPESENSE_API_KEY=<TYPESENSE-API-KEY>
GTAG=<GTAG-CODE>

# Build Configuration

CONFIG_BUILD_OG_IMAGES=FALSE                # To disable building OpenGraph images during build time
CONFIG_HIDE_SHOWCASE_OUTPUT=FALSE           # To disable logging from the Guides Showcase plugin
CONFIG_ENABLE_MARKDOWN_PRINTER=FALSE        # To disable markdown printer