openapi: 3.0.0
info:
  title: Logs API
  description: API to manage and query log data for SignalWire.
  version: 0.0.0
tags:
  - name: Conferences
paths:
  /conferences:
    get:
      operationId: Conferences_list
      summary: List Conferences
      description: |-
        A list of Conferences.

        #### Permissions

        The API token used to authenticate must have one of the following scopes enabled to make a successful request: _Voice_ or _Video_.

        [Learn more about API scopes](/platform/dashboard/getting-started/your-signalwire-api-space#api-token-scopes).
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferencesResponse'
        '401':
          description: Access is unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Types.StatusCodes.StatusCode401'
        '404':
          description: The server cannot find the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Types.StatusCodes.StatusCode404'
      tags:
        - Conferences
security:
  - BasicAuth: []
components:
  schemas:
    ChargeDetails:
      type: object
      required:
        - description
        - amount
      properties:
        description:
          type: string
          description: Description for this charge.
          example: Tax
        amount:
          type: integer
          description: Charged amount.
          example: 60000
    ConferencesResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/CxmlConference'
              - $ref: '#/components/schemas/RelayConference'
              - $ref: '#/components/schemas/VideoRoomSessionConference'
          description: A list of conference logs.
      description: Response containing a list of conferences.
    CxmlConference:
      type: object
      required:
        - id
        - created_at
        - project_id
        - region
        - name
        - status
        - max_size
        - current_participants
        - updated_at
        - type
      properties:
        id:
          type: string
          description: Unique identifier for the conference.
          example: b9028451-b1d3-4690-b5d3-37b19d25f573
        created_at:
          type: string
          format: date-time
          description: Creation timestamp.
          example: '2025-03-11T01:49:49.630Z'
        project_id:
          allOf:
            - $ref: '#/components/schemas/uuid'
          description: Project ID of the conference.
          example: a77ce7d0-6ae8-4b33-a7a6-0bf1750d1e19
        region:
          type: string
          description: Region of the conference.
          example: us1
        name:
          type: string
          description: Name of the conference.
          example: conference
        status:
          type: string
          description: Status of the conference.
          example: in-progress
        max_size:
          type: integer
          description: Maximum size of the conference.
          example: 2
        current_participants:
          type: integer
          description: Current participants in the conference.
          example: 1
        updated_at:
          type: string
          format: date-time
          description: Updated timestamp.
          example: '2025-03-12T01:49:49.630Z'
        type:
          type: string
          enum:
            - cxml_conference
          description: Type of the conference.
          example: cxml_conference
      description: Core conference object.
      title: cXML Conference
    RelayConference:
      type: object
      required:
        - id
        - created_at
        - project_id
        - region
        - name
        - status
        - max_size
        - current_participants
        - updated_at
        - type
        - recording_url
        - recording_duration
        - recording_file_size
      properties:
        id:
          type: string
          description: Unique identifier for the conference.
          example: b9028451-b1d3-4690-b5d3-37b19d25f573
        created_at:
          type: string
          format: date-time
          description: Creation timestamp.
          example: '2025-03-11T01:49:49.630Z'
        project_id:
          allOf:
            - $ref: '#/components/schemas/uuid'
          description: Project ID of the conference.
          example: a77ce7d0-6ae8-4b33-a7a6-0bf1750d1e19
        region:
          type: string
          description: Region of the conference.
          example: us1
        name:
          type: string
          description: Name of the conference.
          example: conference
        status:
          type: string
          description: Status of the conference.
          example: in-progress
        max_size:
          type: integer
          description: Maximum size of the conference.
          example: 2
        current_participants:
          type: integer
          description: Current participants in the conference.
          example: 1
        updated_at:
          type: string
          format: date-time
          description: Updated timestamp.
          example: '2025-03-12T01:49:49.630Z'
        type:
          type: string
          enum:
            - relay_conference
          description: Type of the conference.
          example: relay_conference
        recording_url:
          type: string
          description: Recording URL of the conference.
          example: http://record.com
        recording_duration:
          type: integer
          description: Recording duration of the conference.
          example: 123
        recording_file_size:
          type: integer
          description: Recording file size of the conference.
          example: 12345
      description: Core conference object.
      title: Relay Conference
    Types.StatusCodes.StatusCode401:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          enum:
            - Unauthorized
    Types.StatusCodes.StatusCode404:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          enum:
            - Not Found
    VideoRoomSessionConference:
      type: object
      required:
        - id
        - created_at
        - source
        - type
        - url
        - room_name
        - status
        - locked
        - started_at
        - ended_at
        - charge
        - charge_details
      properties:
        id:
          type: string
          description: Unique identifier for the conference.
          example: b9028451-b1d3-4690-b5d3-37b19d25f573
        created_at:
          type: string
          format: date-time
          description: Creation timestamp.
          example: '2025-03-11T01:49:49.630Z'
        source:
          type: string
          description: Source of the conference.
          example: realtime_api
        type:
          type: string
          enum:
            - video_conference_session
          description: Type of the conference.
          example: video_conference_session
        url:
          type: string
          description: Url of the conference.
          example: https://test.signalwire.com/api/video/room_sessions/b9028451-b1d3-4690-b5d3-37b19d25f573
        room_name:
          type: string
          description: Name of the conference.
          example: dmjjSRZphrx8Y1do2MwE
        status:
          type: string
          description: Status of the conference.
          example: completed
        locked:
          type: boolean
          description: Locks the conference.
          example: false
        started_at:
          type: string
          format: date-time
          description: Started at date of the conference.
          example: '2025-03-11T01:49:51.069Z'
        ended_at:
          type: string
          format: date-time
          description: Ended at date of the conference.
          example: '2025-03-11T01:50:55.752Z'
        charge:
          type: string
          description: Total charge amount of the conference.
          example: '0.0'
        charge_details:
          type: array
          items:
            $ref: '#/components/schemas/ChargeDetails'
          description: Details on charges associated with this conference.
      description: Core conference object.
      title: Video Room Session
    uuid:
      type: string
      format: uuid
      description: Universal Unique Identifier.
  securitySchemes:
    BasicAuth:
      type: http
      scheme: Basic
servers:
  - url: https://{space_name}.signalwire.com/api/logs/
    description: Endpoint
    variables:
      space_name:
        default: '{Your_Space_Name}'
