.swTitle {
  text-align: center;
  font-size: 1.3em;
}

.swSubtitle {
  text-align: center;
  font-style: italic;
}

.swLayout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
  margin-bottom: 40px;
}

.swLayout img {
  width: 260px;
}

.swLayout img {
  transition: transform 0.25s ease;
}
.swLayout img:hover {
  transform: scale(1.8);
}
