:root {
  --secondary-navbar-height: 60px;
}

// Secondary navbar container - minimal default styling
.secondaryNavbar {
  // Height matching primary navbar
  height: var(--secondary-navbar-height);

  // Additional styling (borders, colors, etc.) can be applied via global CSS
}


@media (max-width: 996px) {
  .secondaryNavbar {
    display: none;
  }
}
