:root {
  --secondary-navbar-height: 60px;
}

// Secondary navbar container - relative positioning within sticky container
.secondaryNavbar {
  // Height matching primary navbar
  height: var(--secondary-navbar-height);
  
}


@media (max-width: 996px) {
  .secondaryNavbar {
    display: none;
  }
}
