/*

This file contains site-wide structural stylings. That includes sidebars, drop-downs etc.

*/




// Custom sidebar style

.theme-doc-sidebar-container {
  .theme-doc-sidebar-menu {
    font-size: 0.9em;

    // Ensure the external link icon is aligned with the text
    .menu__list-item.external-link .menu__link {
      display: flex;
      align-items: center;
    }
    // External link icon styling
    .menu__list-item.external-link .menu__link::after {
      content: '';
      width: 13.5px;
      height: 13.5px;
      margin-left: 0.3rem;
      background-color: currentColor;
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.5' height='13.5' viewBox='0 0 24 24'%3E%3Cpath d='M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z'/%3E%3C/svg%3E");
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.5' height='13.5' viewBox='0 0 24 24'%3E%3Cpath d='M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z'/%3E%3C/svg%3E");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
    }

    // Reset margins for various elements
    .menu__list .menu__list,
    .menu__link--sublist,
    .menu__list-item {
      margin: 0;
    }

    // Base menu item styles
    .menu__list-item {
      position: relative;
    }

    // Category header styling
    .menu-category {
      margin-bottom: 40px;

      > .menu__list-item-collapsible {
        a {
          font-weight: bold !important;
          text-transform: uppercase !important;
          font-size: 0.8em !important;
          color: var(--ifm-color-gray-800) !important;
          border-left: none !important;

          &.menu__link--active {
            color: var(--ifm-color-gray-800) !important;
          }

          &:after {
            background: none !important;
          }
        }

        &:hover {
          background: none !important;
        }
      }

      > .menu__list {
        padding-left: 0;
      }
    }

    // Deprecated items styling
    .menu__list-item.deprecated {
      display: flex;
      align-items: center;
      
      .menu__link {
        text-decoration: line-through;
      }
    }

    // Nested menu items styling
    .menu__list .menu__list .menu__list-item {
      .menu__link {
        font-size: .9em;
        font-weight: 400;
      }
    }

    // Base styles for nested items
    .menu__list .menu__list .menu__list-item {
      .menu__link {
        font-size: .9em;
        font-weight: 400;
      }
    }

    // Apply hover/active effects to items in lists that have vertical lines
    .menu__list .menu__list:not(.menu-category > .menu__list) {
      position: relative;
      
      // Vertical line
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0.75rem;
        height: 100%;
        width: 1px;
        background-color: var(--ifm-color-gray-300);
      }

      // Hover/active effects for items in these lists
      .menu__list-item .menu__link {
        &--active,
        &:hover {
          border-left: 1px solid var(--ifm-color-primary);
          border-radius: 0;
        }
      }
    }
  }
}

// Content width for all page types
.theme-doc-markdown .col.col--12.markdown,
.generatedIndexPage_vN6x,
.row:has(.tableOfContents_bqdL:empty) .docItemCol_xLCN,
.row:not(:has(.tableOfContents_bqdL)) .docItemCol_xLCN {
  max-width: min(85vw, 70em) !important;
  margin: 0 auto !important;
}

// Hide empty TOC
.col.col--3:has(.tableOfContents_bqdL:empty) {
  display: none !important;
}