@use "../../../../src/css/mixins" as m;

.box {
  display: flex; // Move display: flex before the mixin
  max-width: 280px;
  flex-direction: column;
  margin-bottom: 15px;

  @include m.clickable-box(); // Include the mixin after declarations
}

.product {
  display: flex; // Move display: flex before the mixin
  max-width: 200px;
  flex-direction: column;

  @include m.clickable-box(); // Include the mixin after declarations
}

.box > .title {
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
