/*

This is temporarily here. In general, we don't want anyone using mixins. Use components where you can.

*/

@mixin clickable-box {
  border: 1px solid #0002;
  border-radius: 4px;
  padding: 20px;
  transition: 0.2s;
  position: relative;

  & > a {
    text-decoration: none !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:hover {
    box-shadow: 0.2rem 0.2rem 1.5rem rgb(0 0 0 / 10%);
    border-color: var(--ifm-color-primary);
  }
}

@mixin faq-collapsible {
  border-style: hidden;
  background-color: white;
  list-style: none;
  box-shadow: none;
  margin-top: 0;
  margin-bottom: 0;

  & summary::before {
    border-style: solid;
    border-color: transparent transparent transparent var(--ifm-color-primary);
  }

  & div {
    border-color: var(--ifm-color-primary);
  }

  & p.answer a {
    text-decoration-color: var(--ifm-color-primary);
  }
}
