.prodbutton {
  cursor: pointer;
  color: var(--ifm-text-color);
  text-align: center;
  position: relative;
  padding: 12px;
  padding-top: 22px;
  border-radius: 10px;
  background: var(--ifm-card-background-color);
  border: 2px solid var(--sw-card-border-color);
  transition: 
    color 200ms,
    border 200ms,
    box-shadow 200ms,
    -webkit-box-shadow 200ms;
}

.prodbutton::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: var(--sw-gradient-border);
}

.prodbutton::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 9px;
  background: var(--ifm-card-background-color);
}

.prodbutton:hover {
  color: var(--ifm-color-primary);
  border: none;
  -webkit-box-shadow: 0.2rem 0.2rem 1.5rem rgba(0, 0, 0, 0.1);
  box-shadow: 0.2rem 0.2rem 1.5rem rgba(0, 0, 0, 0.1);
}

.prodbutton:hover::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: var(--sw-gradient-border);
}

.prodbutton:hover::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 9px;
  background: var(--ifm-card-background-color);
}
