.prodbutton {
  cursor: pointer;
  color: var(--ifm-color-gray-800);
  text-align: center;
  border-radius: 10px;
  border: 1px solid var(--ifm-color-gray-300);
  padding: 12px;
  padding-top: 22px;
  background-color: var(--ifm-color-white);
  transition: 
    border-color 0ms,
    color 200ms,
    box-shadow 200ms,
    -webkit-box-shadow 200ms;
}

.prodbutton:hover {
  border: 1px solid var(--ifm-color-gray-700);
  color: var(--ifm-color-black);
  background-color: var(--ifm-color-white);
  -webkit-box-shadow: 0.2rem 0.2rem 1.5rem rgba(0, 0, 0, 0.1);
  box-shadow: 0.2rem 0.2rem 1.5rem rgba(0, 0, 0, 0.1);
}
